@use 'src/styles/vars' as v;

.projects-container {
  width: 100%;
  margin: auto;
  height: 80%;
  padding: 1em;
}

.projects {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.projects__details {
  color: v.$color-white;
  background-color: v.$color-darkgreen;
  border-radius: 4px;
  padding: 15px;
  width: 30%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 1px 1px 5px 1px #c9c9c9;
}
