// palette couleur :
// #2E3244
// #C5C6C6
// #FFFFFF
// #F1895C
// #516079
// @use 'src/styles/vars' as v;

@use "sass:color";

// $color-orange: #f1895c;
// $color-white: #ffffff;
// $color-lightblue: #516079;
// $color-darkblue: #2e3244;
// $color-grey: #c5c6c6;

$gutter: 1rem;

// palette couleur green got :
$color-white: #ffffff;
$color-lightgreen: #c7f3e8;
$color-darkgreen: #098b7d;
$color-greyblue: #556681;
$color-lightblue: #f0f7fd;
$color-darkblue: #1b3065;
