@use 'src/styles/vars' as v;

.container {
  width: 100%;
  margin: auto;
  padding: 1em;
}

.trainings__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70vh;
}

.trainings {
  background-color: v.$color-darkgreen;
  color: v.$color-white;
  width: 70%;
  margin-bottom: 15px;
  padding: 5px;
  box-shadow: 1px 1px 5px 1px #c9c9c9;
  border-radius: 4px;
}

.skills__container {
  background-color: v.$color-greyblue;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: baseline;
  height: 70vh;
  padding: v.$gutter * 3;
}

.skills {
  background-color: v.$color-white;
  width: 30%;
  height: 50%;
  color: v.$color-greyblue;
  margin-bottom: 15px;
  padding: 5px;
  box-shadow: 1px 1px 5px 1px #c9c9c9;
  border-radius: 4px;
}
