@use 'src/styles/vars' as v;

.container {
  width: 100%;
  color: v.$color-darkblue;
}

.skills__container-title,
.trainings__container-title {
  margin-top: v.$gutter * 3;
  margin-bottom: v.$gutter * 3;
  font-size: v.$gutter * 2.5;
  color: v.$color-darkblue;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
}

.skills__container {
  color: v.$color-darkblue;
  background-color: v.$color-lightblue;
  display: flex;
  align-content: space-between;
  align-items: center;
  height: 50vh;
  padding: v.$gutter * 3;
}

.skills {
}

.trainings__container {
  color: v.$color-white;
  background-color: v.$color-darkgreen;
  display: flex;
  align-content: space-between;
  align-items: center;
  height: 50vh;
  padding: v.$gutter * 3;
}

.trainings {
}
