@use 'src/styles/vars' as v;

.skills-container {
  width: 100%;
  margin: auto;
  padding: 1em;
}

.skills {
  background-color: v.$color-greyblue;
  color: v.$color-white;
  margin-bottom: 15px;
  padding: 5px;
}

.trainings {
  background-color: v.$color-lightgreen;
  margin-bottom: 15px;
  padding: 5px;
}
