.header {
  background-color: red;
  width: 100%;
  margin: auto;
  height: 10%;
  padding: 1em;
}

.header__top {
  display: flex;
}

.header__top-logo {
  text-align: left;
  display: block;
  margin: auto;
}

.header__top-nav {
  float: right;
  margin: auto;
}

.header__top-nav-link {
  border: 1px solid blue;
  list-style: none;
  display: table-cell;
  padding: 1em;
}
