@use 'src/styles/vars' as v;

.footer {
  background-color: v.$color-white;
  width: 100%;
  margin: auto;
  height: 10%;
  padding: 1em;
  text-align: center;
}

.footer__logo {
  display: flex;
}

.footer__logo-list {
  list-style: none;
  margin: auto;
}

.footer__logo-img {
  height: 80%;
  width: 80%;
}
