@use 'src/styles/vars' as v;

.footer {
  position: fixed;
  bottom: 0;
  background-color: v.$color-white;
  width: v.$gutter * 3;
  height: 100%;
  left: 0;
  padding: 0.5em;
  text-align: center;
}
